@{
    ViewBag.Title = "About";
}
<h2 class="centriranje">@ViewBag.Title</h2>
<h3 class="centriranje">@ViewBag.Message</h3>

<p class="centriranje">Use this area if you really have to add something.</p>