@{
    ViewBag.Title = "Contact";
    ViewBag.Description= "Wow brt";
    ViewBag.Keywords = "Contact, wow";
}


<h2 class="centriranje">@ViewBag.Title.</h2>
<h3 class="centriranje">@ViewBag.Message</h3>
<address class="centriranje">
    Blizzcon,California Dreaming.<br />
    Razor hill 1<br />
    <abbr title="Phone">Phone</abbr>
    069696969
</address>
<br />
<address class="centriranje">
    <strong>E-mail:</strong><a href="mailto:support@asd.com">support@asd.com</a><br />
    <strong>Web site</strong><a href="wow.eu.com">wow.eu.com</a>
    <p>Use this area to provide additional information.</p>
</address>
@section WoW 
    {
    <center><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Irvine%2C%20CA%2C%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></center>
    }

