 @{ 
     ViewBag.Title = "World of Warcraft | KeK";
     ViewBag.Description = "Just an Online game that i'm playing for 12 years,get me some help.";
     ViewBag.Keywords = "WoW , Gaming , MMORPG , games , blizzard , warcraft , pc , gethelpagain";
 }
<h3 class="centriranje">@ViewBag.Message</h3>


<div class="jumbotron centriranje">
    <h1>World of Warcraft</h1>
    <p class="lead">If you want to apply to my guild,click Below</p>
    <p>
        @Html.ActionLink("Apply Here", "ProfileForm") &raquo;
    </p>
</div>

<div class="row centriranje">
    <div class="col-md-4">
        <h2>Starting a character or play session</h2>
        <p>
            As with other MMORPGs, players control a character avatar within a game world in third- or first-person view, exploring the landscape, 
            fighting various monsters, completing quests, and interacting with non-player characters (NPCs) or other players. 
            Also similar to other MMORPGs, World of Warcraft requires the player to pay for a subscription by using a credit or debit card, using prepaid Blizzard game cards or using a WoW Token purchased in-game.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/World_of_Warcraft">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Music</h2>
        <p>The soundtrack for World of Warcraft was composed and arranged by Jason Hayes, Tracy W. Bush, Derek Duke, and Glenn Stafford and conducted by Eímear Noone. It was released on November 23, 2004,
        together with the collector's edition of the game. It is sold separately on one CD in the MP3 format. On January 12, 2011, 
        Alfred Publishing produced an officially licensed sheet music series for vocalists, pianists, strings, and other instruments, World of Warcraft Sheet Music Anthology in solo and accompaniment formats with CD..</p>
        <p><a class="btn btn-default" href="https://eu.forums.blizzard.com/en/wow/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Corrupted Blood plague incident</h2>
        <p>YThe Corrupted Blood plague incident was one of the first events to affect entire servers. Patch 1.7 saw the opening of Zul'Gurub, the game's first 20-player raid dungeon where players faced off against a tribe of trolls.</p>
        <p><a class="btn btn-default" href="https://worldofwarcraft.com/en-gb/wowclassic">Learn more &raquo;</a></p>
    </div>
</div>