@model forAzeroth.Models.MainModel
@{
    ViewBag.Title = "Reference";
}

<div id="portfolio-wrapper" class="container">
    <div class="title">
        <h2>@Model.References.Welcome()</h2>
    </div>
</div>

