<div id="menu">
    <ul>
        <li>@Html.ActionLink("WoW", "Index")</li>
        <li>@Html.ActionLink("About us", "About")</li>
        <li>@Html.ActionLink("Contact", "Contact")</li>
    </ul>
</div>
